@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DefaultHeadComponentPartial","Components")

<body>
    <!-- header section start -->
    @await Component.InvokeAsync("_DefaultHeaderComponentPartial","Components");
    <!-- header section end -->
    <!-- about section start -->
    @await Component.InvokeAsync("_DefaultAboutComponentPartial","Components");
    <!-- about section end -->
    <!-- booking section start -->
    @await Component.InvokeAsync("_DefaultBookingComponentPartial","Components");
    <!-- booking section end -->
    <!-- services section start -->
    @await Component.InvokeAsync("_DefaultDrinkListComponentPartial","Components")
    <!-- services section end -->
    <!-- choose section start -->
    @await Component.InvokeAsync("_DefaultChooseComponentPartial","Components");
    <!-- choose section end -->
    <!-- shop section start -->
    @await Component.InvokeAsync("_DefaultShopComponentPartial","Components");
    <!-- shop section end -->
    <!-- frequently section start -->
    @await Component.InvokeAsync("_DefaultQuestionComponentPartial","Components");
    <!-- frequently section end -->
    <!-- clients section start -->
    @await Component.InvokeAsync("_DefaultClientComponentPartial","Components");
    <!-- clients section end -->
    <!-- contact section start -->
    @await Component.InvokeAsync("_DefaultContactComponentPartial","Components");
    <!-- contact section end -->
    <!-- footer section start -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial","Components");
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">
                Copyright 2019 All Right Reserved By.<a href="https://html.design">
                    Free html
                    Templates
                </a> Distributed by. <a href="https://themewagon.com">ThemeWagon</a>
            </p>
            </p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="~/teab-1.0.0/js/jquery.min.js"></script>
    <script src="~/teab-1.0.0/js/popper.min.js"></script>
    <script src="~/teab-1.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/teab-1.0.0/js/jquery-3.0.0.min.js"></script>
    <script src="~/teab-1.0.0/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/teab-1.0.0/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/teab-1.0.0/js/custom.js"></script>
    <!-- javascript -->
    <script src="~/teab-1.0.0/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

    </script>
    <script>
        $(document).ready(function () {
            // Add minus icon for collapse element which is open by default
            $(".collapse.show").each(function () {
                $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
            });

            // Toggle plus minus icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
            }).on('hide.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
            });
        });
    </script>
</body>

</html>