@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DefaultHeadComponentPartial","Components")

<body>
    <!-- header section start -->
    @await Component.InvokeAsync("_DefaultHeaderComponentPartial","Components");
    <!-- header section end -->
    <!-- about section start -->
    @await Component.InvokeAsync("_DefaultAboutComponentPartial","Components");
    <!-- about section end -->
    <!-- booking section start -->
    @await Component.InvokeAsync("_DefaultBookingComponentPartial","Components");
    <!-- booking section end -->
    <!-- services section start -->
    @await Component.InvokeAsync("_DefaultDrinkListComponentPartial","Components")
    <!-- services section end -->
    <!-- choose section start -->
    @await Component.InvokeAsync("_DefaultChooseComponentPartial","Components");
    <!-- choose section end -->
    <!-- shop section start -->
    @await Component.InvokeAsync("_DefaultShopComponentPartial","Components");
    <!-- shop section end -->
    <!-- frequently section start -->
    @await Component.InvokeAsync("_DefaultQuestionComponentPartial","Components");
    <!-- frequently section end -->
    <!-- clients section start -->
    @await Component.InvokeAsync("_DefaultClientComponentPartial","Components");
    <!-- clients section end -->
    <!-- contact section start -->
    @await Component.InvokeAsync("_DefaultContactComponentPartial","Components");
    <!-- contact section end -->
    <!-- footer section start -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial","Components");
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">
                Copyright @DateTime.Now.Year Tüm hakları saklıdır.<a href="https://html.design">
                    
                </a> Distributed by. <a href="https://themewagon.com">ThemeWagon</a>
            </p>
            </p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    @await Component.InvokeAsync("_DefaultScriptComponentPartial","Components");

</body>

</html>