<nav class="pcoded-navbar  ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">

			<div class="">
				<div class="main-menu-header">
					<img class="img-radius" src="~/flat-able-lite/dist/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
					<div class="user-details">
						<span>Admin 01</span>
						<div id="more-details">Yönetim Paneli<i class="fa fa-chevron-down m-l-5"></i></div>
					</div>
				</div>
				<div class="collapse" id="nav-user-link">
					<ul class="list-unstyled">
						<li class="list-group-item"><a href="user-profile.html"><i class="feather icon-user m-r-5"></i>Profil</a></li>
						<li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Ayarlar</a></li>
						<li class="list-group-item"><a href="auth-normal-sign-in.html"><i class="feather icon-log-out m-r-5"></i>Çıkış</a></li>
					</ul>
				</div>
			</div>

			<ul class="nav pcoded-inner-navbar ">
				<li class="nav-item pcoded-menu-caption">
					<label>Navigation</label>
				</li>
				<li class="nav-item">
					<a href="~/Admin/Drinks/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">İçecek İşlemleri</span></a>
				</li>
				<li class="nav-item">
					<a href="~/Admin/Question/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Soru Cevap İşlemleri</span></a>
				</li>
				<li class="nav-item">
					<a href="~/Admin/Message/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Mesaj İşlemleri</span></a>
				</li>
				<li class="nav-item">
					<a href="~/Admin/Testimonial/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Müşteri İşlemleri</span></a>
				</li>
				<li class="nav-item pcoded-menu-caption">
					<label>Sayfalar</label>
				</li>
				<li class="nav-item pcoded-hasmenu">
					<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Giriş/Çıkış</span></a>
					<ul class="pcoded-submenu">
						<li><a href="auth-signup.html" target="_blank">Çıkış</a></li>
						<li><a href="auth-signin.html" target="_blank">Giriş</a></li>
					</ul>
				</li>
				<li class="nav-item"><a href="sample-page.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Örnek Sayfa</span></a></li>

			</ul>
		</div>
	</div>
</nav>