<div class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="mail_main">
                    <h1 class="contact_taital">Bize ulaşın</h1>
                    <form action="/action_page.php">
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="İsim Soyisim" name="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Mail adresiniz" name="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Konu" name="Email">
                        </div>
                        <div class="form-group">
                            <textarea class="massage-bt" placeholder="Mesajınız" rows="5" id="comment" name="text"></textarea>
                        </div>
                    </form>
                    <div class="send_btn">
                        <div class="main_bt"><a href="#">Gönder</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_main">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6119.64856322735!2d32.8460281947182!3d39.922948386092685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34effd6b9930b%3A0x6fa79cbeeeec0bac!2zS8SxesSxbGF5LCAwNjQyMCDDh2Fua2F5YS9BbmthcmE!5e0!3m2!1str!2str!4v1701518231280!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

