@model CreateTestimonialDto
@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>Yeni Müşteri Girişi</h1>

<form method="post">
    <label>Müşteri adını giriniz</label>
    <input type="text" asp-for="TestimonialName" class="form-control" />
    <br />
    <label>Müşteri yorumu giriniz</label>
    <input type="text" asp-for="TestimonialComment" class="form-control" />
    <br />
    <label>Müşteri görseli giriniz</label>
    <input type="text" asp-for="TestimonialImageUrl" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>

</form>
