@model List<TeaShopApi.WebUI.Dtos.QuestionDtos.ResultQuestionDto>
<div class="frequently_section layout_padding">
    <div class="container">
        <h1 class="frequently_taital">Sorularınız</h1>
        <p class="frequently_text">
            Merak ettikleriniz ve daha fazlası...
        </p>
        @foreach (var item in Model)
        {
            
     
        <div class="frequently_section_2 layout_padding">
            <div class="bs-example">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="@item.QuestionID">
                            <h2 >
                                <button type="button" class="btn btn-link w-100">@item.QuestionDetail</button>
                            </h2>
                        </div>
                        <div>
                            <div class="card-body">
                                <p>@item.AnswerDetail</p>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
        }
    </div>
</div>